<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
	<div class = "container"style = "background-color: grey">

		<div class = "row">
			<div class = "twelve columns" style = "background-color: black">
				<h1> Welcome to 2+3 forums! </h1>
			</div>
		</div>

		<div class = "row">
			<div class = "six columns">
				<button>This is a button</button>
			</div>
			<div class = "six columns">
				<button style = "position: relative; float: right">This is a button</button>
			</div>			
		</div></br>

		<div class = "row">
			<div class = "twelve columns" style = "background-color: blue; text-align: center;">
				<h2> <%= category.name %> </h2>
				<form action = "/forums/threads/new/<%= category.id%>">
					<button style = "position: relative; float: right">New Thread</button>
				</form>
			</div>			
		</div>




		<% threads.forEach(function(thread){ %>
		<% if (category.id == thread.cat_id) { %>
		<div class = "row">
			<div class = "twelve columns" style = "background-color: grey;">
				<a href = "http://localhost:3000/forums/threads/<%= thread.id %>"><h3> <%= thread.title %> </h3></a>
			</div>			
		</div>
		<% } %>
		<% }) %>

	</div>
</body>
</html>