<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jakes Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://localhost:3000/style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://localhost:3000"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>

		<div class = "row">
			<div class = "twelve columns">
				<a href = "http://localhost:3000/forums/threads/<%= nested.thread_id %>"><h5 id = "nested_header">  Reply To: <%= nested.content %> </h5> </a>
			</div>			
		</div>	

		<div id ="categories_body">
		<div class="row" id ="nested_form">
			<div class = "eight columns" style = "padding-left: 30px;">
				<form action = "/forums/threads/nested/<%= nested.id %>" method = "POST">
					<textarea class="u-full-width" placeholder="Reply" name ="content"></textarea>
					<input type="hidden" name="thread_id" value = "<%= nested.thread_id %>">
					<button>Submit</button>
				</form>
			</div>
		</div>


		</div>


	</div>
</body>
</html>