<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://localhost:3000/style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://localhost:3000"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>
<!-- 
		<div class = "row">
			<div class = "six columns">
				<button>This is a button</button>
			</div>
			<div class = "six columns">
				<button style = "position: relative; float: right">This is a button</button>
			</div>			
		</div>
 -->

		<div class = "row">
			<div class = "twelve columns" style = "text-align: center;">
				<h2>  Topic: <%= category.name %> </h2>
			</div>			
		</div>

		

		<div id ="categories_body" style = "padding-top: 20px;">
		<div class="row">
			<div class = "eight columns" style = "padding-left: 30px;">
				<form action = "/forums/threads/new/<%= category.id %>" method = "POST">
					<input class="u-full-width" type = "text" placeholder="Thread Title" name ="title">
					<textarea class="u-full-width" placeholder="Thread Content" name ="content"></textarea>
					<button>Submit</button>
				</form>
			</div>
		</div>


		</div>


	</div>
</body>
</html>