<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jakes Forum</title>
	<link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel = "stylesheet" type = "text.css" href = "http://calm-peak-30186.herokuapp.com//style.css">
</head>
<body>
	<div class = "container">

		<div class = "row" id = "header">
			<div class = "twelve columns">
				<a href="http://calm-peak-30186.herokuapp.com/"><h1 id ="header_text"> Welcome To Jakes Forum! </h1></a>
			</div>
		</div></br>

		<div class = "row">
			<div class = "twelve columns" style = "text-align: center;">
				<a href = "http://calm-peak-30186.herokuapp.com//forums/<%= category.id %>" id = "new_topic"><h4>  Topic: <%= category.name %> </h4></a>
			</div>			
		</div>

		<div id ="categories_body">
		<div class="row" id = "newthread_form">
			<div class = "eight columns" style = "padding-left: 30px;">
				<form action = "/forums/threads/new/<%= category.id %>" method = "POST">
					<input class="u-full-width" type = "text" placeholder="Thread Title" name ="title">
					<textarea class="u-full-width" placeholder="Thread Content" name ="content"></textarea>
					<button>Submit</button>
				</form>
			</div>
		</div>

		</div>

	</div>
</body>
</html>